<h2>LOGIN</h2>
<div class="row">
  <form class="col s12" method="post" action="/auth/login">
    <div class="row">
      <div class="input-field col s12">
        <label>Email:</label>
        <input type="text" name="email" class="form-control" placeholder="Your email">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label>Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Your password">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Login" class="waves-effect waves-light btn">
    </div>
  </form>
</div>
<hr>
<br>
<div class="row">

  <a href="/auth/facebook" class="waves-effect waves-light btn">
  <i class="material-icons">link</i>  Login via Facebook
  </a>

</div>
