<div class="container">
  <div class="row">
      <h5 class="white-text">Links</h5>
      <%if(!currentUser){%>
      <span><a class="grey-text text-lighten-3 link-text-footer" href="/auth/login">Login</a><a class="grey-text text-lighten-3 link-text-footer" href="/auth/signup">Sign Up</a></span>
      <%}else{%>
      <span><a class="grey-text text-lighten-3 link-text-footer" href="/recipes">Search</a><a class="grey-text text-lighten-3 link-text-footer" href="/recipes/wishlist">Wishlist</a><a class="grey-text text-lighten-3 link-text-footer" href="/recipes/myrecipes">My Recipes</a><a class="grey-text text-lighten-3 link-text-footer" href="/auth/logout">Logout</a></span>
      <%}%>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Search powered by: <a href="https://food2fork.com/about/api">Food2Fork</a> <span class="footer-text">Created by Reilly Anderson &copy; 2018</span>
  </div>
</div>