<div class="container">
  <div class="row">
      <h5 class="white-text">Links</h5>
      <%if(!currentUser){%>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
        <li><a class="grey-text text-lighten-3" href="/auth/signup">Sign Up</a></li>
      </ul>
      <%}else{%>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/recipes">Search</a></li>
        <li><a class="grey-text text-lighten-3" href="/recipes/wishlist">Wishlist</a></li>
        <li><a class="grey-text text-lighten-3" href="/recipes/myrecipes">My Recipes</a></li>
        <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
      </ul>
      <%}%>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Search powered by: <a href="https://food2fork.com/about/api">Food2Fork</a><span class="footer-text">Created by Reilly Anderson &copy; 2018</span>
  </div>
</div>