<div class="container">
  <div class="row">
      <h5 class="white-text">Links</h5>
      <%if(!currentUser){%>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
        <li><a class="grey-text text-lighten-3" href="/auth/signup">Sign Up</a></li>
      </ul>
      <%}else{%>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/auth/login">My Profile</a></li>
        <li><a class="grey-text text-lighten-3" href="/recipes">Search</a></li>
        <li><a class="grey-text text-lighten-3" href="/recipes/wishlist">Wishlist</a></li>
        <li><a class="grey-text text-lighten-3" href="/recipes/myrecipes">My Recipes</a></li>
        <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
      </ul>
      <%}%>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Home page images sourced from <a href="https://www.village-bakery.com/wp-content/uploads/2017/05/o-COOKING-facebook.jpg">here</a>, <a href="http://zyzixun.net/image-download/3084629.html">here</a>, and <a href="https://www.rubios.com/sites/default/files/banners/Cooking-Techniques_Hero.jpg">here.</a> Search powered by: <a href="https://food2fork.com/about/api">Food2Fork</a>
  </div>
</div>