<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Gourmet Group</h1>
        <div class="row center">
          <h5 class="header col s12 light">A personalized recipe tracker!</h5>
        </div>
        <div class="row center">
          <a href="/auth/signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>
          <a href="/auth/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Login</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">explore</i></h2>
            <h5 class="center">Search</h5>

            <p class="light">Search for recipes by ingredients, either single ingredients or a couple that you'd like to try, and see a page of resulting recipes you might be interested in. Look at individual recipes and see a full list of ingredients to help you decide if you think you'd like to try it.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">import_contacts</i></h2>
            <h5 class="center">Wishlist</h5>

            <p class="light">Save recipes you may be interested in trying, edit ingredients, and see individual recipe pages. Additionally, you can transfer thse wishlist recipes to your personal recipe book with the opportunity to change ingredients, serving sizes, and directions.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_dining</i></h2>
            <h5 class="center">My Recipes</h5>

            <p class="light">Keep track of recipes you've tried and additional notes about the cooking process, be it an idea for the next time you make it or something that worked particularly well. Upload a photo of your cooking to the recipe page and add your own personal recipes, just for you to see.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light"></h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Make an account to access the site</h4>
          <p class="left-align light">In order to use this site, we ask that you make an account. We do not share your information with any third parties and do allow you to log in through Facebook if you'd prefer. We require login in order to keep track of your recipes for you and to keep our search user friendly. To create an account, click sign up!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Let's get cooking!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>