<div class="container">
<div class="row">
	<h2><%=currentUser.firstname%>'s Profile</h2>
</div>
<div class="row">
	<div class="col l5 m5 s12">
	</div>
	<div class="col l1 m1 s0">
	</div>
	<div class="col l5 m5 s12">
	</div>
</div>

</div>