<div class="container">
<h3>Upload a Photo</h3>
<div class="row">
	<form class="add-photo col s12" action="/recipes/myrecipes/add-photo/<%=recipe.id%>" method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="input-field col s12">
				<label>Upload your own photo:</label>
				<input type="file" name="myFile" id="new-user-img" placeholder="my photo">
			</div>
		</div>
		<input hidden type="text" name="id" value="<%=recipe.id%>">
		<div class="row">
			<input type="submit" value="Upload Photo" class="waves-effect waves-light btn">
		</div>
	</form>
</div>
<div class="row"></div>
</div>