<h2>Recipes I'd Like to Try:</h2>

<% results.forEach(function(recipe){%>
	<h3><%=recipe.title%></h3>
	<img src="<%=recipe.img_url%>"></a>
	<a href="/recipes/favorites/<%=recipe.id%>" class="btn btn-success">More Information</a>
<%})%>