<div class="container">
	<div class="row">
		<h3>New Recipe Upload</h3>
	</div>
	<div class="row">
		<form class="new-form col s12" action="/recipes/myrecipes/new" method="POST">
			<div class="row">
				<div class="input-field col s12">
					<label>Recipe Title</label>
					<input type="text" name="title" value="">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label>Source URL</label>
					<input type="text" name="source_url" value="">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label>Publisher</label>
					<input type="text" name="publisher" value="">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label>Ingredients</label>
					<input type="text" name="ingredients" value="" placeholder="please separate ingredients with a comma (no spaces!) for example: two teaspoons nutmeg,two chicken breats, thawed,salt to taste">
				</div>
			</div>
			<input hidden type="text" name="userId" value="currentUser.id">
			<div class="row">
				<div class="input-field col s12">
					<label>Image URL</label>
					<input type="text" name="img_url" value="">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label>Directions</label>
					<input type="text" name="directions" value="" placeholder="Semi-colon (;) separated instructions">
				</div>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light" type="submit">Add Recipe
					<i class="material-icons right">add</i>
				</button>
			</div>
		</form>
	</div>
	<div class="row"></div>
</div>