<div class="container">
<div class="row"></div>
<div class="row">
	<div class="col l6 m6 s12">
		<h3>Search Results</h3>
	</div>
	<div class="col l6 m6 s12">
		<div class="row"></div>
		<a href="/recipes" class="btn waves-effect waves-light">Search Again</a>
	</div>
</div>
<div class="row">
<div id="columns">
<% recipe.recipes.forEach(function(recipe){%>
      <div class="card pin">
        <div class="card-image">
          <img class="card-image-pin" src="<%=recipe.image_url%>">
          <form method="POST" action="/recipes/individual">
          	<input hidden type="text" name="rId" value="<%=recipe.recipe_id%>">
          <button type="submit" class="btn-floating halfway-fab waves-effect waves-light indigo accent-2"><i class="large material-icons">info_outline</i></button></form>
        </div>
        <div class="card-content pin-p">
          <p>
          	<% var re = /\&\#8217\;/; %>
          	<% var reT = /\&amp\;/; %>
			<% if(recipe.title.search(re)){%>
				<% var title = recipe.title.replace(re, '\''); %>
				<%if(recipe.title.search(reT)){%>
					<% title = recipe.title.replace(reT, '\&');%>
				<%}%>
				<h6><%=title%></h6>
			<%}else{%>
				<h6><%=recipe.title%></h6>
			<%}%>
          </p>
        </div>
      </div>
<%});%>
</div>

</div>
<div class="row"></div>
</div>