<h1>search recipes</h1>
<form method="POST" action="/recipes">
	<div class="form-group">
		<label>Search: </label>
		<input type="text" name="search" placeholder="Enter a word or phrase to describe your search here">
	</div>
	<input type="submit" value="Search" class="btn btn-success">
</form>